<body class="wow fadeIn">
    <script>
        SmoothScroll({
            stepSize: 55
        });
    </script>
    <div class="loaderArea position-fixed d-none justify-content-center align-items-center">
        <div class="d-flex wow zoomIn loader " data-wow-iteration="20">
            <div class="box yellow__box "></div>
            <div class="box blue__box"></div>
            <div class="box rose__box"></div>
            <div class="box pur__box"></div>
        </div>


    </div>
    <!-- higher is the preloader -->
    <div id="finn__header">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <div class="separator"></div>
                </div>
                <div class="col-lg-10 d-flex offset-1 pl-0 justify-content-between ">
                    <h2 class="brand__name__black   d-inline-block">G–A</h2>
                    <a href="" class="d-inline-block burger__menu">
                        <span class="menu__button__black rounded"></span>
                        <span class="menu__button__black rounded"></span>
                        <span class="menu__button__black rounded"></span>
                    </a>
                </div>
                <div class="col-lg-2 text-right">

                </div>
                <div class="separator mt-5"></div>
                <div class="separator"></div>
            </div>
            <div class="col-lg-6 offset-lg-1 pl-0 text-left article__works__block">
                <h1 class="white__title m-0">jm finn</h1>
                <h1 class="works__header__title">an individual</h1>
                <h1 class="works__header__title">approach</h1>
            </div>

            <div class="col-lg-2 offset-lg-2 col-2 offset-3 pl-0 line__block">
                <div class="works__vertical__line finn__absolute  ">

                </div>
            </div>
        </div>

    </div>

    <div id="problem__description__wrapper">

        <div class="row mt-4  works__background mr-4 ml-4 ">
            <div class="container problem__description">
                <div class="row">
                    <div class="col-lg-6 ">
                        <h1 class="works__header__title mb-5 wow slideInLeft">the problem</h1>
                        <p class="wow slideInLeft">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores modi qui excepturi, odit enim quia
                            impedit at, dignissimos earum corrupti officiis officia consectetur, hic alias culpa numquam
                            cum. Porro, molestiae.Voluptatem in doloribus maiores velit quas assumenda sapiente inventore
                            suscipit nobis porro laborum facilis, distinctio molestias? Ex, obcaecati pariatur? Quasi dolores
                            nihil, quod neque veniam eos quia dignissimos libero! At.</p>
                    </div>
                    <div class="col-lg-4 offset-lg-2 text-left links__and__proto wow slideInRight">
                        <h6 class="work__category text-uppercase">services</h6>
                        <h3 class="work__subcategory various-color-1">wesite design</h3>
                        <h3 class="work__subcategory various-color-2">front end</h3>
                        <h3 class="work__subcategory various-color-3">magento 2</h3>
                        <h6 class="work__category mt-5 text-uppercase">sector</h6>
                        <h3 class="work__subcategory various-color-4">corporate</h3>
                        <h6 class="work__category mt-5 text-uppercase">live site</h6>
                        <a href="" class="works__site__link">view site
                            <i class="fas fa-external-link-alt works__site__link-icon"></i>
                        </a>


                    </div>
                </div>


            </div>

        </div>

    </div>
    <div id="showcase">
        <div class="container-fluid mt-4 pl-4 pr-4">
            <div class="row ">
                <div class="col-12">
                    <img src="./img/works/jmfinn/showcase.png" alt="" class="w-100 img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div id="show__work__done">
        <div class="container-fluid  mt-4 ">
            <div class="row ml-2 mr-2 works__background">
                <div class="container">

                    <div class="show__work__description row">
                        <div class="col-lg-6 show__work__description text-left">
                            <h2>What we did</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore optio earum repudiandae, iure
                                minima dolorem dolores consequuntur laudantium veniam exercitationem nam minus impedit, repellendus
                                ipsum quis labore perferendis omnis ea!Pariatur delectus consequatur doloribus eos molestiae
                                repellendus, corrupti similique illo facere expedita ipsum est eaque libero esse! Vitae mollitia
                                perferendis incidunt quasi culpa, modi quia accusantium, dignissimos unde distinctio deleniti?</p>
                        </div>
                        <div class="col-lg-6 col-12 text-left clearfix">
                            <div class="showcase__image__line float-left"></div>
                            <img src="./img/works/jmfinn/done_showcase.png" alt="" class="img-fluid show__work__done__img d-block ">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="mobile__showcase">
        <div class="container-fluid mt-4">
            <div class="row ml-2 mr-2 mobile__background">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="./img/works/jmfinn/mobile__app__example.png" alt="" class="img-fluid d-block mobile__item">
                        </div>
                        <div class="col-lg-3">
                            <img src="./img/works/jmfinn/mobile__app__example.png" alt="" class="img-fluid d-block mobile__item">
                        </div>
                        <div class="col-lg-3">
                            <img src="./img/works/jmfinn/mobile__app__example.png" alt="" class="img-fluid d-block mobile__item">
                        </div>
                        <div class="col-lg-3">
                            <img src="./img/works/jmfinn/mobile__app__example.png" alt="" class="img-fluid d-block mobile__item">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="recomendations">
        <div class="container-fluid mt-4">
            <div class="row ml-2 mr-2 works__background">
                <div class="container">
                    <div class="row show__work__description">
                        <div class="col-lg-6 text-left">
                            <h2>Content </br> recomendations</h2>
                            <h6 class="text-uppercase">the talking head video</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident vero veritatis repellat excepturi
                                ratione obcaecati saepe modi atque fuga officia quaerat aliquid, maiores deleniti repudiandae
                                sunt ad consequuntur placeat reiciendis!Eum tempore corporis eveniet ipsam nulla laudantium
                                totam ratione obcaecati exercitationem mollitia, distinctio impedit dolorum aperiam porro
                                quae rem quisquam nihil quis quo iusto! Debitis rerum voluptatibus soluta aperiam quisquam?</p>
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                            <img src="./img/works/jmfinn/recomendations.png" id="recomendations__image" alt="" class="img-fluid  d-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="works__slider">
        <div class="container-fluid mt-4">
            <div class="row ml-2 mr-2">
                <div class="col-lg-12 p-0">
                    <div id="testimonials__carousel" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner ">
                            <div class="carousel-item active">
                                <img src="./img/works/jmfinn/carousel__item.png" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="./img/works/jmfinn/carousel__item.png" alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="./img/works/jmfinn/carousel__item.png" alt="">
                            </div>
                            <div class="col-2 offset-9">
                                <a class="carousel-control-next d-block" id="next__work__carousel" href="#testimonials__carousel" role="button" data-slide="next">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>
                            </div>
                            <div class="col-12 ">
                                <ol id="next__work__carousel__indicator" class=" carousel-indicators  pl-0">
                                    <li data-target="#testimonials__carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#testimonials__carousel" data-slide-to="1"></li>
                                    <li data-target="#testimonials__carousel" data-slide-to="2"></li>
                                </ol>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="illustro__section">
        <div class="container-fluid mt-4">
            <div class="row ml-2 mr-2 illustro__background">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mt-5 mb-5 text-left ">

                            <img src="./img/works/jmfinn/illustro.png" alt="" class="img-fluid  d-block float-left">
                            <div class="showcase__image__line d-inline-block"></div>
                        </div>
                        <div class="col-lg-5 show__work__description offset-lg-1">
                            <h2>Illustrations</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore optio earum repudiandae, iure
                                minima dolorem dolores consequuntur laudantium veniam exercitationem nam minus impedit, repellendus
                                ipsum quis labore perferendis omnis ea!Pariatur delectus consequatur doloribus eos molestiae
                                repellendus, corrupti similique illo facere expedita ipsum est eaque libero esse! Vitae mollitia
                                perferendis incidunt quasi culpa, modi quia accusantium, dignissimos unde distinctio deleniti</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="illustro__section__two">
        <div class="container-fluid mt-4">
            <div class="row ml-2 mr-2 illustro__two">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 offset-lg-1 p-0 first__illutsto">
                            <img src="./img/works/jmfinn/illustro_1.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-5 offset-lg-1 p-0 second__illutsto">
                            <img src="./img/works/jmfinn/illustro__2.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="work__thin__descripion">
        <div class="container-fluid mt-4">
            <div class="row mr-2 ml-2 work__thin__bg">
                <div class="container">
                    <div class="row">
                        <div class="container">
                            <div class="col-lg-6 show__work__description offset-lg-3 p-0">
                                <h2>The website</h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore optio earum repudiandae,
                                    iure minima dolorem dolores consequuntur laudantium veniam exercitationem nam minus impedit,
                                    repellendus ipsum quis labore perferendis omnis ea!Pariatur delectus consequatur doloribus
                                    eos molestiae repellendus, corrupti similique illo facere expedita ipsum est eaque libero
                                    esse! Vitae mollitia perferendis incidunt quasi culpa, modi quia accusantium, dignissimos
                                    unde distinctio deleniti?</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="image__work">
        <div class="container-fluid mt-4">
            <div class="row ml-2 mr-2 image__work__bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto ">
                            <img src="./img/works/jmfinn/work-image.png" class="img-fluid  work__image d-block " alt=""> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pospect">
        <div class="container-fluid mt-4">
            <div class="row ml-2 mr-2 prospect__bg">
                <div class="col-lg-4 offset-lg-1 show__work__description ">
                    <h2>Prospects</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magnam quidem perspiciatis nostrum soluta
                        quod! Neque, dignissimos molestias! Iste amet perferendis ex? Quo quidem enim impedit sed optio,
                        sequi velit.Tenetur molestiae minus ut</p>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <img src="./img/works/jmfinn/prospect.png" alt="" class="img-fluid d-block  prospect__item">
                </div>
            </div>
        </div>
    </div>
    <div id="slogan">
        <div class="container-fluid mt-4">
            <div class="row ml-2 mr-2">
                <div class="col-lg-12 m-0 p-0">
                    <img src="./img/works/jmfinn/slogan__img.png" alt="" class="img-fluid w-100 d-block">
                </div>
            </div>
        </div>
    </div>
    <div id="prospect-anth__bg">
        <div class="container-fluid  mt-4">
            <div class="row prospect-anth__bg ml-2 mr-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto ">
                            <img src="./img/works/jmfinn/prospec__item__2.png" alt="" class="img-fluid work__image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="results">
        <div class="container-fluid mt-4">
            <div class="row ml-2 results__bg mr-2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 offset-lg-1 show__work__description ">
                            <h2>The results</h2>
                            <div class="result__description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, ut! Autem cumque alias
                                    excepturi incidunt eius reiciendis tempore esse reprehenderit id! Quos est, saepe optio
                                    earum tenetur rem delectus id?Quam error beatae consequatur iure quis necessitatibus
                                    cum facilis</p>
                            </div>
                        </div>
                        <div class="col-lg-4 offset-lg-2">
                            <img src="./img/works/jmfinn/prospect__result.png" alt="" class="work__image img-fluid rounded-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="releated__works">
        <div class="container-fluid p-4 ">
            <div class="selected__works mt-2">
                <div class="flex-row d-flex justify-content-center">
                    <div class="col-lg-6 text-center works__description__heading">
                        <h5>RELEATED WORKS</h5>
                        <p>creativity</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mt-5 image__block__glass">
                        <div class="test__js">
                            <img src="./img/sunglass.jpg" class="  img-fluid data__tilt__image m-auto wow zoomIn d-block" alt="">
                            <div class="col-lg-6 col-11 offset-1  pl-0 offset-lg-5">

                                <div class="description__background  text-center">

                                    <h2 class="d-inline-block">
                                        Chanel Sunglasses
                                    </h2>

                                </div>



                                <a href=" " class="d-inline-block link__more  ">
                                    <p class="m-0 p-0 view__more float-left">VIEW MORE

                                    </p>
                                    <span class="line__arrow position-relative"></span>
                                </a>

                            </div>
                            <!-- row -->
                        </div>
                    </div>
                    <div class="row d-block mr-0">
                        <div class="col-lg-12 mt-5  image__block__finn">
                            <img src="./img/finn.png" class=" img-fluid m-auto wow zoomIn d-block wow bounceInUp" alt="">
                            <div class="col-lg-6 col-11 offset-1 pl-0 offset-lg-5">
                                <div class="description__background__finn ">

                                    <h2 class="d-block pl-4">
                                        J.M.Finn
                                    </h2>

                                </div>

                                <a href=" " class="d-inline-block link__more  ">
                                    <p class="m-0 p-0 view__more float-left">VIEW MORE

                                    </p>
                                    <span class="line__arrow position-relative"></span>
                                </a>

                            </div>

                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
    <!-- footer выпирает в мобильной версии направо -->
    <div id="footer__graphic__aliance" class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 pt-4 text-center">
                    <h1 class="footer__title">get in touch</h1>
                </div>
                <div class="col-lg-5 col-12  text-center ">
                    <p class="email__and_phone">
                        hello@graphicalliance.co.uk
                    </p>
                    <p class="email__and_phone">
                        +44(0)20 &nbsp;7395&nbsp;5770
                    </p>
                    <h4>OUR OFFICE</h4>
                    <p>1 Rosoman Place </br>
                        London,EC1R0JY</br>
                        United Kingdom
                    </p>
                    <h4>ELSEWHERE</h4>
                    <div class="social__links">
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-0">
                    <div class="footer__vertical__line"></div>
                </div>
                <div class="col-lg-5 col-12 right__column__center text-center">
                    <h5 class="mb-5">We're always looking </br>for new talent</h5>
                    <p class="mb-0">Join us and help create unique digital experiences.Send your CV at</p>
                    <p class="email__job mb-0">jobs@graphicalliance.co.uk</p>
                    <p>We look forward to hearing from you</p>
                </div>
                <div class="col-12 text-center mt-5">
                    <h1 class="footer__title">graphic alliance</h1>
                </div>
            </div>
        </div>
    </div>








    <script>
        new WOW().init();
    </script>

    <script src="./tilt.jquery.js"></script>
    <script src="./animations.js"></script>
</body>