     <div class="row">




                    <!-- page navigation -->

                    <div class="col-lg-12">
                        <div class="separator"></div>
                    </div>
                    <div class="col-lg-10 d-flex offset-1 pl-0 justify-content-between ">
                        <div class="g__a__logo">
                            <h2 class="brand__name   g__letter d-inline-block ">G</h2>
                            <span class="mb-2 dash d-inline-block"></span>
                            <h2 class="brand__name  g__letter__a d-inline-block">A</h2>
                        </div>



                        <a href="" class="d-block">
                            <span class="menu__button rounded"></span>
                            <span class="menu__button rounded"></span>
                            <span class="menu__button rounded"></span>
                        </a>
                    </div>


                </div>