<div class=" loaderArea position-fixed d-flex justify-content-center align-items-center">
    <div class="d-flex  loader " data-wow-iteration="20">

        <img src="/img/preloader.gif" class="img-fluid" alt="">

    </div>


</div>
    <!-- higher is the preloader -->

    <div id="work__page__header" class="la-work-page">
        <div class="container-fluid header__row" id="mobile__padding__none">
            <div class="row  work__header__background ">
                <div class="col-lg-12">
                    <div class="separator d-md-none separator__small"></div>
                </div>
             <div  class="col-12 black__menu">

                <div class="row">




                    <!-- page navigation -->

                    <!-- <div class="col-lg-12">
                            <div class="separator"></div>
                        </div> -->
                    <div class="col-lg-10 d-flex offset-1 pl-0 justify-content-between ">
                         <a class="block__work__link" href="/">
                        
<div class="g__a__logo__black">
                            <h2 class="brand__name   g__letter d-inline-block ">G</h2>
                            <span class="mb-2 dash d-inline-block"></span>
                            <h2 class="brand__name  g__letter__a d-inline-block">A</h2>
                        </div>
                    </a>
                       




                        <div class="burger__fixed burger__menu">
                            <span class="menu__button top_line"></span>
                            <span class="menu__button center_line"></span>
                            <span class="menu__button bottom_line"></span>
                        </div>


                    </div>


                </div>
            </div>
         
<div class="container-fluid">
        {{ view_all_works }} 
</div>
              

            </div>
        </div>
    </div>
    <div id="work__page__carousel">
        <div class="container-fluid mt-5 mb-4 " id="mobile__no__gut">
            <div class="row header__row work__testimonial__background">
    
                <div class="col-12 mt-5 mobile__hidden  text-center">
                    <img src="./img/quote__work.png" class="img-fluid" alt="">
                </div>
                <!-- quotes carousel -->
                <div class="col-12 p-4 text-center">
                    <div id="testimonials__carousel" class="carousel slide" data-ride="carousel">
                        <!-- <ol class="carousel-indicators testimonials__indicator">
                                <li data-target="#testimonials__carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#testimonials__carousel" data-slide-to="1"></li>
                                <li data-target="#testimonials__carousel" data-slide-to="2"></li>
                            </ol> -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="col-xl-6 offset-xl-3">
                                    <p class="testimonials">
                                        Just wanted to say thank you..you nailed the brief and gavve us exactly what we were looking for,plus some additional value
                                        and stuff
                                    </p>
                                    <p class="testimonial__author">
                                        REBECA DELAGO - CHANEL
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-xl-6 offset-xl-3">
                                    <p class="testimonials">
                                        Just wanted to say thank you..you nailed the brief and gavve us exactly what we were looking for,plus some additional value
                                        and stuff
                                    </p>
                                    <p class="testimonial__author">
                                        REBECA DELAGO - CHANEL1
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-xl-6 offset-xl-3">
                                    <p class="testimonials">
                                        Just wanted to say thank you..you nailed the brief and gavve us exactly what we were looking for,plus some additional value
                                        and stuff
                                    </p>
                                    <p class="testimonial__author">
                                        REBECA DELAGO - CHANEL2
                                    </p>
                                </div>
                            </div>
                            <div class="col-2 offset-9">
                                <a class="carousel-control-next work__bg" id="next__testimonials" href="#testimonials__carousel" role="button" data-slide="next">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>
                            </div>
                            <div class="col-12 ">
                                <ol id="testimonials__ind__work" id="testss" class=" carousel-indicators pl-0">
                                    <li data-target="#testimonials__carousel" data-slide-to="0" class="active "></li>
                                    <li data-target="#testimonials__carousel" data-slide-to="1"></li>
                                    <li data-target="#testimonials__carousel" data-slide-to="2"></li>
                                </ol>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
     <div id="footer__graphic__aliance">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 pt-4 touch__mobile text-center">
                    <h1 class="footer__title">get in touch</h1>
                </div>
                <div class="col-lg-5 col-12 order-lg-1 col-sm-5 order-sm-1 col-md-5 order-md-1  order-3 contact__footer__em__block   ">
                    <p class="email__and_phone">
                            <a class="mail__dec__none" href="mailto:hello@graphicalliance.co.uk">hello@graphicalliance.co.uk</a>
                    </p>
                    <p class="email__and_phone">
                            <a href="tel:+4402073955770">
                                    +44(0)20 &nbsp;7395&nbsp;5770
                            </a>
                    </p>
                    <h4>OUR OFFICE</h4>
                    <p>1 Rosoman Place </br>
                        London,EC1R0JY</br>
                        United Kingdom
                    </p>
                    <h4>ELSEWHERE</h4>
                    <div class="social__links">
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-0 order-2 col-md-2 col-sm-2 order-sm-2 order-md-2 order-lg-2">
                    <div class="footer__vertical__line"></div>
                </div>
                <div class="col-lg-5 col-12 order-lg-3 col-md-5 order-md-3 col-sm-5 order-sm-3 order-1 right__column__center">
                    <h5 class="mb-5">We're always looking </br>for new talent</h5>
                    <p class="mb-0">Join us and help create unique digital experiences.Send your CV at</p>
                    <p class="email__job mb-0">   <a class="mail__dec__none" href="mailto:jobs@graphicalliance.co.uk">jobs@graphicalliance.co.uk</a></p>
                    <p>We look forward to hearing from you</p>
                </div>
                <div class="col-12 text-center footer__title__block order-lg-4 order-sm-4 order-md-4 touch__mobile ">
                    <h1 class="footer__title">graphic alliance</h1>
                </div>
            </div>
        </div>




    </div>


<script>

</script>
    <script>
        new WOW().init();
    </script>

  
    <script>
$(function () {
    $('.la-catalog-works .row-item-1').addClass('open');
    $('.la-work-page .la-catalog-works .row-item-2').addClass('open');

    $('.la-catalog-works .button__see__all').click(function () {

        var elem = $('.la-catalog-works .row-item.open');
        elem.next('.row-item').addClass('open');
        elem.next('.row-item').next('.row-item').addClass('open');
    });
});
</script>