<div class=" loaderArea position-fixed d-flex justify-content-center align-items-center">
    <div class="d-flex  loader " data-wow-iteration="20">

        <img src="/img/preloader.gif" class="img-fluid" alt="">

    </div>


</div>
<!-- higher is the preloader -->

<div id="contact__header ">
    <div class="container-fluid pt-4 pr-2 " id="mobile__padding__none">
        <div class="row header__row header__background">
            <div class="col-lg-12">
                <div class="separator separator__small"></div>
            </div>
            <div  class="col-12 black__menu">

                <div class="row">




                    <!-- page navigation -->

                    <!-- <div class="col-lg-12">
                            <div class="separator"></div>
                        </div> -->
                    <div class="col-lg-10 d-flex offset-1 pl-0 justify-content-between ">
                       <a class="block__work__link" href="/">
                        
<div class="g__a__logo__black">
                            <h2 class="brand__name   g__letter d-inline-block ">G</h2>
                            <span class="mb-2 dash d-inline-block"></span>
                            <h2 class="brand__name  g__letter__a d-inline-block">A</h2>
                        </div>
                    </a>
                    




                        <div class="burger__fixed burger__menu">
                            <span class="menu__button top_line"></span>
                            <span class="menu__button center_line"></span>
                            <span class="menu__button bottom_line"></span>
                        </div>


                    </div>


                </div>
            </div>
            <div class="col-lg-7 col-xl-6 col-md-7 col-sm-7 mt-0 pt-0 talk__us__block">
                    <h1 class="about__header__title mobile__inline__talk ">talk</h1>
                    <h1 class="about__header__title desktop__to__us">to us</h1>
            </div>
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-5 col-md-5 order-md-1 col-sm-5 order-sm-1 order-12 order-lg-1 contacts__right">
                        <p class="email__and_phone__contact mb-0">
                            <a href="mailto:hello@graphicalliance.co.uk">{{ node.field_email.value }}</a>
                       
                        </p>
                        <p class="email__and_phone__contact">
                            <a href="tel:+4402073955770">
                                    {{ node.field_phone.value }}
                            </a>
                        
                        </p>
                        <h4>OUR OFFICE</h4>
                        <p>{{ node.field_adress_office.value|raw }}</p>
                        <h4>ELSEWHERE</h4>
                        <div class="social__links__contact">
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
        
              

                    <div class="col-lg-2 order-lg-5 col-md-2 col-sm-2 order-sm-2 order-md-2 contact__line__block text-center">
                        <div class="contact__vertical__line"></div>
                    </div>
                    <div class="col-lg-5 order-md-3 col-md-5 order-sm-3 col-sm-5 order-1 order-lg-12  form_ajax">
                            <form action="">
                        <div class="contact__input__group mt-4 ">
                    
                            <input type="text" name="form_name" class="form-control__contact mt-5 form_name" id="contact__name" required aria-describedby="contactName" placeholder="Your name">
                            <input type="email" name="form_email" class="form-control__contact mt-4 form_email" id="contact__email" required aria-describedby="contactName" placeholder="Your email">
                            <input type="text" name="form_msg" class="form-control__contact mt-4 msg_text" id="contact__message" required aria-describedby="contactName" placeholder="What can we help to you with?">
                   
                        </div>
                        <div class="checkbox__box col-10 offset-1 col-lg-12 offset-lg-0 clearfix pt-4">
                            <input type="checkbox" name="share" class="do__not__sell d-inline-block float-left mr-2 mt-2" aria-label="Checkbox for following text input" required>
                            <p class="">We do not share or sell your personal information</p>
                        </div>
                        {# <button type="submit" class="d-block submit__button text-center">SUBMIT</button> #}
                       <a class="btn-6 contact__submit" href="#">SUBMIT<span></span></a>
                    </form>
                    </div>
                   
                </div>
                <div class="col-lg-8 offset-lg-0 col-md-5 col-sm-5 offset-sm-3 offset-md-3 mt-2 p-5 text-right">
                    <h1 class="about__header__title mobile__hidden">to us</h1>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="map__wrapper">
    <div class="container-fluid" id="map__no__gutters">
        <div class="flex-row d-flex mt-4 justify-content-center ">

            <div class="col-lg-12" id="map">
              
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.2829452467713!2d-0.10845928024680207!3d51.52637000569772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b456515f1d3%3A0x4672a883e22dea77!2zMSBSb3NvbWFuIFBsLCBDbGVya2Vud2VsbCwgTG9uZG9uIEVDMVIgMEpZLCDQktC10LvQuNC60L7QsdGA0LjRgtCw0L3QuNGP!5e0!3m2!1sru!2sua!4v1522826646310" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

                <div class="open__map__button d-flex justify-content-center align-items-center">
                    <a href="">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div> 
    </div>
    
    <script>

      // This example adds a marker to indicate the position of Bondi Beach in Sydney,
      // Australia.
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: {lat: 51.5260029, lng: -0.1103583}
        });

        var image = 'img/marker.png';
        var beachMarker = new google.maps.Marker({
          position: {lat: 51.5260029, lng: -0.1103583},
          map: map,
          icon: image
        });
      }
    </script>

    
</div>
<div id="footer__graphic__aliance" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 pt-4 touch__mobile text-center">
                <h1 class="footer__title">get in touch</h1>
            </div>
            <div class="col-lg-5 col-12 order-lg-1 col-md-5 order-md-1 col-sm-5 order-sm-1 order-3 contact__footer__em__block   ">
                <p class="email__and_phone">
                        <a class="mail__dec__none" href="mailto:hello@graphicalliance.co.uk">hello@graphicalliance.co.uk</a>
                </p>
                <p class="email__and_phone">
                        <a href="tel:+4402073955770">
                                +44(0)20 &nbsp;7395&nbsp;5770
                            </a>
                </p>
                <h4>OUR OFFICE</h4>
                <p>1 Rosoman Place </br>
                    London,EC1R0JY</br>
                    United Kingdom
                </p>
                <h4>ELSEWHERE</h4>
                <div class="social__links">
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-0 order-2 col-md-2 order-md-2 col-sm-2 order-sm-2 order-lg-2">
                <div class="footer__vertical__line"></div>
            </div>
            <div class="col-lg-5 col-12 order-lg-3 col-md-5 order-md-3 col-sm-5 order-sm-3 order-1 right__column__center">
                <h5 class="mb-5">We're always looking </br>for new talent</h5>
                <p class="mb-0">Join us and help create unique digital experiences. Send your CV at</p>
                <p class="email__job mb-0">   <a class="mail__dec__none" href="mailto:jobs@graphicalliance.co.uk">jobs@graphicalliance.co.uk</a></p>
                <p>We look forward to hearing from you.</p>
            </div>
            <div class="col-12 text-center footer__title__block order-lg-4 order-md-4 touch__mobile order-sm-4">
                <h1 class="footer__title">graphic alliance</h1>
            </div>
        </div>
    </div>
</div>






<script>

    jQuery(".contact__submit").click(function() {
        var shares;
       if($(".do__not__sell").is(':checked'))
           {
                shares = 'yes';
            }
        else
        {
            shares = 'no';
        }
        var data = {
    name: $(".form_name").val(),
    email: $(".form_email").val(),
    text: $(".msg_text").val(),
    share: shares
};
        
        

        $.ajax({
            type: "POST",
            url: "/mail.php",
            data: data,
            success: function(){
            $('.form_ajax').text("Your message has been successfully sent.");
            }
        });

        return false;
    });


</script>
<script>
    new WOW().init();
</script>

<script src="js/tilt.jquery.js"></script>
<script src="js/animations.js"></script>