
<div class=" loaderArea position-fixed d-flex justify-content-center align-items-center">
        <div class="d-flex wow zoomIn loader " data-wow-iteration="20">
            <div class="box yellow__box "></div>
            <div class="box blue__box"></div>
            <div class="box rose__box"></div>
            <div class="box pur__box"></div>
        </div>
  
    </div>
    <script>
    </script>
    <script>
        new WOW().init();
    </script>
    <div id="header__wrapper">

      
        <header>
            <div class="hasvideo d-none">
                <video autoplay poster="img/header__bg.png" id="bgvid" loop>
                    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->

                    <source src="assets/headervideo.mp4" type="video/mp4">
            </div>
            </video>
            <div class="container-fluid">

                <div class="row">




                    <!-- page navigation -->

                    <div class="col-lg-12">
                        <div class="separator"></div>
                    </div>
                    <div class="col-lg-10 d-flex offset-1 pl-0 justify-content-between ">
                        <div class="g__a__logo brand__block">
                            <h2 class="brand__name   g__letter d-inline-block ">G</h2>
                            <span class="mb-2 dash d-inline-block"></span>
                            <h2 class="brand__name  g__letter__a d-inline-block">A</h2>
                        </div>



                      
                    <div class="burger__fixed burger__menu">
                            <span class="menu__button top_line"></span>
                            <span class="menu__button center_line"></span>
                            <span class="menu__button bottom_line"></span>
                    </div>
                         
                       
                    </div>


                </div>
               
                <div class="row header__title__text">
                    <div class="col-lg-5 offset-3 wow pulse text-center">
                        <h1 class="header__title">everything</h1>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 offset-5  line__block ">

                        <div class="progress" value="0">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>
                <div class="row pl-4 ml-5">
                    <div class="col-lg-9 text-right wow pulse mt-5 pt-5 pr-0">
                        <h1 class="header__title">connected</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-5 pl-5 postion-absolute line__block ">
                        <!-- <div class="line__rotate__contr ">

                        </div> -->
                        <div class="progress" id="progress" value="0">
                            <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="50"></div>
                            <div class="progress-bar" id="progress-bar__black" role="progressbar" aria-valuenow="0" aria-valuemin="50" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>
            </div>
        </header>

    </div>
    <div id="main__wrapper">
        <div class="container-fluid brand__description  m-0 ">

            <div class="col-12 text-center ">
                <p>A creative agency that builds brands. </br>
                    Whatever your customers or employeers need, </br>
                    we have the experience to of the dots.</p>


            </div>
            <div class="col-12">
                <div class="progress" id="progress__third" value="0">
                    <div class="progress-bar" id="progress-bar__third" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>
        <div class="container-fluid p-4 ">
            <div class="selected__works mt-2">
                <div class="flex-row d-flex justify-content-center">
                    <div class="col-lg-6 text-center works__description__heading">
                        <h5>SELECTED WORKS</h5>
                        <p>creativity</p>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-lg-6  image__block__glass">
                        <img src="img/sunglass.jpg"  class="  img-fluid data__tilt__image m-auto wow zoomIn d-block"  alt="">
                        <div  class="col-6 pl-0 offset-5">
                            
                                    <div  class="description__background  text-center">

                                            <h2  class="d-inline-block">
                                                Chanel Sunglasses
                                            </h2>
            
                                        </div>
                         
                          

                            <a href=" " class="d-inline-block link__more  ">
                                <p class="m-0 p-0 view__more float-left">VIEW MORE

                                </p>
                                <span class="line__arrow position-relative"></span>
                            </a>

                        </div>
                        <!-- row -->
                        <div class="row d-block">
                            <div class="col-lg-12  image__block__finn">
                                <img src="img/finn.png" class="img-fluid m-auto wow zoomIn d-block wow bounceInUp" alt="">
                                <div class="col-6 pl-0 offset-5">
                                    <div class="description__background__finn ">

                                        <h2 class="d-block pl-4">
                                            J.M.Finn
                                        </h2>

                                    </div>

                                    <a href=" " class="d-inline-block link__more  ">
                                        <p class="m-0 p-0 view__more float-left">VIEW MORE

                                        </p>
                                        <span class="line__arrow position-relative"></span>
                                    </a>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 image__block__bigme ">
                        <img src="img/bigme.png" class="img-fluid wow zoomIn d-block" alt="">
                        <div class="col-lg-6 offset-2">
                            <div class="description__background__me">
                                <h2 class="d-block pl-4">
                                    Big me!
                                </h2>
                            </div>
                            <a href=" " class="d-inline-block link__more  ">
                                <p class="m-0 p-0 view__more float-left">VIEW MORE

                                </p>
                                <span class="line__arrow position-relative "></span>
                            </a>

                        </div>
                        <div class="row">
                            <div class="col-lg-12 image__block__facegym ">
                                <img src="img/facegym.png" class="img-fluid wow zoomIn m-auto d-block" alt="">
                                <div class="col-lg-6 offset-2">
                                    <div class="description__background__gym">
                                        <h2 class="d-block pl-4">
                                            FaceGym
                                        </h2>
                                    </div>
                                    <a href=" " class="d-inline-block link__more  ">
                                        <p class="m-0 p-0 view__more float-left">VIEW MORE

                                        </p>
                                        <span class="line__arrow position-relative "></span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="flex-row d-flex justify-content-center align-items-center">
                    <div class="d-flex pt-5 pb-5 mb-5">
                        <div class="button__see__all hvr-sweep-to-right text-center ">
                            SEE ALL
                        </div>
                    </div>


                </div>
            </div>
        </div>



    </div>
    <div id="passion__wrapper">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-12 mt-5 passion__heading text-center">
                    <h1 class="passion__title">passion</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-5 mt-5 text-right passion__description">
                    <h5> A creative agency </br> that builds brands.</h5>
                    <a href=" " class="d-inline-block link__more mt-4 ">
                        <p class="m-0 p-0 view__more float-left">ABOUT US

                        </p>
                        <span class="line__arrow position-relative "></span>
                    </a>
                </div>
                <div class="col-2 line__index ">
                    <div class="progress " id="progress__floor">
                        <div class="progress-bar" id="progress-bar__floor"></div>
                    </div>
                    <!-- <div class="progress" id="progress__floor" value ="0">
                                <div class="progress-bar" id="progress-bar__floor" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div> -->





                </div>
                <div class="col-5  text-left passion__description">
                    <p>Our international team reflects its diversity and it inspires the work we create for some of the worlds
                        biggest brands. We have experts in web technology,creative geniuses,content makers and social media
                        gurus.And we use these skills to go into the heart of our clients businesses to make their communications
                        work.
                    </p>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 mt-2 passion__heading text-center">
                    <h1 class="passion__title">purpose</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <div class="purpose__vertical__line"></div>
                     -->
                    <div class="progress " id="progress__floor__second">
                        <div class="progress-bar" id="progress-bar__floor__second">123</div>
                    </div>
                </div>
            </div>

        </div>
        <div id="footer__graphic__aliance">
            <div class="container">
                <div class="row">
                    <div class="col-5   text-right">
                        <p class="email__and_phone">
                            hello@graphicalliance.co.uk
                        </p>
                        <p class="email__and_phone">
                            +44(0)20 &nbsp;7395&nbsp;5770
                        </p>
                        <h4>OUR OFFICE</h4>
                        <p>1 Rosoman Place </br>
                            London,EC1R0JY</br>
                            United Kingdom
                        </p>
                        <h4>ELSEWHERE</h4>
                        <div class="social__links">
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-2">
                        <!-- <div class="footer__vertical__line"></div> -->
                        <div class="progress " id="progress__floor__third">
                            <div class="progress-bar" id="progress-bar__floor__third">123</div>
                        </div>
                    </div>
                    <div class="col-5 right__column__center text-left">
                        <h5 class="mb-5">We're always looking </br>for new talent</h5>
                        <p class="mb-0">Join us and help create unique digital experiences. Send your CV at</p>
                        <p class="email__job mb-0">jobs@graphicalliance.co.uk</p>
                        <p>We look forward to hearing from you.</p>
                    </div>
                    <div class="col-12 text-center mt-5">
                        <h1 class="footer__title">graphic alliance</h1>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="col-4 mt-5 offset-2 p-0 text-right passion__description">
            <div class="passion__description__line position-absolute">
                <p> A creative agency </br> that builds brands.</p>
                <a href=" " class="d-inline-block link__more mt-4 ">
                    <p class="m-0 p-0 view__more float-left">ABOUT US

                    </p>
                    <span class="line__arrow position-relative "></span>
                </a>
            </div>
            <div class="col-4 offset-5">
                    <p>123</p>
                </div>
        </div> -->


    </div>
    <script src="js/tilt.jquery.js"></script>
    <script src="js/animations.js"></script>
