<div id="work__thin__descripion">
    <div class="container-fluid mt-4" id="mobile__no__gutters">
        <div class="row mr-2 ml-2 work__thin__bg" id="mobile__no__gutters">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="col-xl-6 show__work__description offset-xl-3 p-0">
                            <h2>{{ paragraph.field_a_con.value }}</h2>
                            <p>{{ paragraph.field_text_center.value|raw }}</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>