@media (min-width:200px) and (max-width: 600px) {
    .logo img {
        width: 100%;
        margin: 0;
    }
    .heading h1 {
        font-size: 24px;
        margin-bottom: 1rem;
    }
    .header__box {
        padding-top: 0.2rem;
    }
    .action__mounth {
        padding-left: 1.3rem !important;
        margin-top: 3rem;
        font-size: 16px;
    }
    .action__mounth::after {
        width: 48%;
        left: 50%;
        overflow: hidden;
        top: 51%;
        right: unset;
    }
    .action__mounth::before {
        right: 49%;
        top: -2px;
    }
    .info-link {
        font-size: 1.3rem;
    }
    .mobile__row {
        padding: 0 1rem;
    }
    .action__desc {
        padding: 1rem;
        padding-bottom: 0;
        min-height: 252px;
    }
    #info__button {
        margin-bottom: 1rem;
        background: transparent;
        color: white;
        outline: none;
        border: none;
        left: 3%;
        width: unset;
        font-weight: normal;
    }
    .action {
        border-radius: 12px;
    }
    .action__desc h2 {
        width: 80%;
    }
    .action::after {
        content: "";
        display: block;
        position: absolute;
        width: 35px;
        top: 5%;
        left: 85%;
        height: 35px;
        background: white;
        border-radius: 35px;
    }
    .filter__mounth {
        width: 100%;
        left: 0%;
        animation: sortLeft 1s;
        overflow: hidden;
    }
    @keyframes sortLeft {
        from {
            top: 0px;
            opacity: 0;
        }
        to {
            top: 10%;
            opacity: 1;
        }
    }
    .action__item__expand {
        width: 100%;
    }
    .action__bg {
        display: none;
    }
    .action__bg__mobile img {
        border-radius: 10px;
        margin: 1rem 0;
    }
    .action__item__expand h2 {
        
        color: #162e4a;
    }
    .action__item__expand {
        background: white;
        border-radius: 10px;
        -webkit-box-shadow: 1px -13px 25px -2px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 1px -13px 25px -2px rgba(0, 0, 0, 0.44);
        box-shadow: 1px -13px 25px -2px rgba(0, 0, 0, 0.44);
        overflow-y: scroll;
        height: 80%;
        top: 15%;
        animation: modalviewmobile 0.5s;
    }
    @keyframes modalviewmobile {
        from {
            top: 50%;
            opacity: 0;
        }
        to {
            top: 15%;
            opacity: 1;
        }
    }
    .action__item__expand p {
        color: #162e4a;
        margin-bottom: 2rem;
    }
    .close__expand {
        border: none;
        width: 100%;
        display: block;
        position: absolute;
        background: white;
        top: 0;
        left: 0;
        color: #162e4a;
    }
    .infooter{
        position: relative;
        bottom: 17px;
        left: 0%;
    }
   
    .future #info__button{
        display: none;
    }
    .future-modal {
        background: white !important;
    }
    .lock{
        left: unset;
    }
    .lock img{
        transform: scale(0.5);
    }
}
