@media (max-width: 970px) and (min-width: 320px) {
    html {
        height:100%;
        min-height:100%;
       }
#mobile__wrapper{
    height: 100vh;
    width: 100%;
    position: relative;
overflow: scroll;
   -webkit-overflow-scroll: touch!important;

   
}
#iframe__main{
    display: none;
}
.preload__content h1{
    font-size: 35px;
}
.preload__content span{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent;
    margin-left: 0rem;
    border: 1px solid grey;
    border-radius: 30px;

}
@keyframes bounce__preload3 {
    0% {
        border: 4px solid #ee3a43;
    }
   
    100%{
        border: 4px solid grey;
    }
}

@keyframes bounce__preload1 {
    0% {
        border: 4px solid #ee3a43;
    }
   
    100%{
        border: 4px solid grey;
    }
}
@keyframes bounce__preload {
    0% {
        border: 4px solid #ee3a43;
    }
   
    100%{
        border: 4px solid grey;
    }
}
#text__with__bg iframe{
  top: 29%;
    left: 0;
    transform: scale(2.4);
    height: 41vh;
}
.view-partnerships-listing{
    transform: scale(0.7)!important;
}
#partners__block{
    height: 100%;
}
main{
    -webkit-overflow-scroll: touch!important;  
}
.page-main{
    -webkit-overflow-scroll: touch!important;  
}
.point__toggle p::after{
 content: none;
    display: inline-block;
    position: absolute;
    color: white;
left: 75%;
top: 60%;

    font-size: 9px;
}
header .title-bar.menu-expanded .head .menu-icon:hover{
    color: red!important;
}
.read__more p::after{
    content: "Read more...";
    display: inline-block;
    position: absolute;
    color: white;
left: 75%;
top: 60%;

    font-size: 9px;
}
.read__less p::after{
    content: "Read less...";
    display: inline-block;
    position: absolute;
    color: white;
left: 75%;
top: 60%;

    font-size: 9px;
}
.border-text h1{
    border-top: 3px solid white!important;
}
.node-type-parallax-page header + main + footer{
    overflow: hidden;
    -webkit-overflow-scrolling:auto!important;
}
#iscroll__test{
    -webkit-overflow-scroll: touch!important;
}
.inner__text{
    height: 95vh;
    margin-bottom: 0;
}
#map__wrapper{
    margin-bottom: 0;
}
footer{
    touch-action: auto;
}
.scroll-down{
    display: none;
}
#text__with__bg h1 {
    
    font-size: 44px;
    
}
#ytube__with__bg{
    height: 55vh;
}
#ytube__with__bg  .quote__video{
    background-position: unset!important;
    background-size:cover;
}
#pull__quote__content h2{
    font-size: 18px;
    font-weight: bold;
}
.text__paralax{
   padding-top: 10rem;
    padding-bottom: 0;

}
.desc__inner{
    opacity: 1;
    transition: opacity 1s;
}
.g__map__marker h3{
    display: none;
}
#full__bg__video{
    -webkit-transform:scale(1,1.02) translateY(1%);
    -ms-transform:scale(1,1.02) translateY(1%);
    transform:scale(1,1.02) translateY(1%);
    position: relative;
    z-index: 100;
    height:auto;
    width: 100%;
}
.hasvideo{
    position: relative;
}
.video__p__second{
    position: relative;
}
.text__img{
    position: absolute;
    width: 100%;
    /* opacity: 0.5; */
}
.quote__video{
    box-shadow: none;
}
.text__underline{
    height: 50vh;
    top: 0;
}
.bg__fixed{
   position: absolute;
    width: 100%;
    background-position: center;
}
.text__paralax__sl2{
    padding-top: 0;
}
.text__box{
    margin-bottom: 1rem;
    position: relative;
}

video{
    width: auto;
    height: 100vh;
}
#text__with__img h1{
    font-size: 3rem;

}
.point__toggle p{
    font-size: 12px;
    margin-top: 0;
    margin-left: 0.5rem;
    margin-bottom: 0;
    width: 75%;
}
.point__toggle{
    background: unset;
}
.text__box p{
    font-size: 15px;
}
.quote__video iframe{
    width: 100%;
    height:250px;
}
.mobile__video__row{
    width: 100%;
    /* height: 70%; */
}
#pull__quote__content p{
    margin-top: 2rem;
}
#text__with__img {
    /* height: 336vh; */
}
#map-box{
    margin-left: 0;
  
}
.quote{
    margin-top: 0;
}
.quote__block{
    margin: 2rem 0;
}
.mobile__video__ratio{
    width: 100%;
    height: auto;
}
.desc__inner{
    padding-top: 11rem;
}
#text__with__bg__image{
    /* display: none; */
    background-position: initial!important;
    background-size: cover;
  
}
.crop__video{
    height: auto!important;
}
.map__desc{
margin: 0.2rem 0;
}
.map__desc h3{
    margin-bottom: 0;
    font-size: 1rem;
}
.dropdown-menu p{
    font-size: 0.8rem;
    margin-bottom: 0;
}
#mobile__no__gutters{
    padding-left: 0;
}
#text__with__bg__image p{
    font-size: 16px;
    margin: 2rem 0;
}
.dropdown{
    background: rgba(255, 255, 255, 0.185);
    border-top: unset;
    border-bottom: 1px solid white;
}
.text__paralax__sl2{
    padding-bottom: 20rem;
    padding-top: 4rem;
}
#text__with__bg video{
    height: 100vh!important;
    width: 100vw;
    object-fit: cover;
    transform: scale(1)!important;
}
.contact__box{
    margin-bottom: 0;
}
#text__hyperlink{
    height: auto;
}
.entity-bean.bean-sponser{
    width: 100%!important;
    padding: 0!important;
}
.entity-bean.bean-sponser .field-name-field-sponsor-phone-number div{
    font-size: 0.6rem!important;
}
header .container{
    padding: 0!important;
}
#pull__quote__content p{
    font-size: 17px;
}
/* header{
    z-index: 9999!important;
    position: relative!important;
    background: white!important;
} */
.title-bar .menu-icon{
    margin-right: 0.9rem!important;
}
header .title-bar .hamburger{
    width: 16.2%!important;
    padding: 0!important;
    position: relative!important;
    left: -1%!important;
}
header .title-bar .search{
    right: -2px!important;
    position: relative!important;
}

.g__map__marker{
    opacity: 1!important;
    transform: scale(1)!important;
    /* margin-top: 6rem; */
}
 }
 @media (max-width: 325px) and (min-width: 300px) {
    .desc__inner{
        padding-top: 8rem;
    }
 }
 @media (max-width: 800px) and (orientation:landscape) {
     .mobile__video__row{
         width: 100%;
     }
	#map-box{
        margin-top: 0;
        height: 175vh;
        margin-left: 0;
    }
    .desc__inner{
        padding-top: 0;
    }
    .quote__video iframe{
        width: 80%;
        height: 200px;
    }
    #ytube__with__bg .player{
        text-align: center!important;
    }
    #ytube__with__bg{
        height: 85vh;
    }
    .dropdown{
        width: 50%;
    }
    .quote__block{
        margin: 2rem 0;
    }
    .point__toggle{
        font-size: 18px;
    }
    .dropdown-menu p{
        font-size: 10px;
        padding-bottom: 0;
    }
}
@media (max-width: 322px) and (min-width:300px){
    .quote__video iframe{
        height: 200px;
    }
}
@media (max-height: 660px) and (min-width:1200px) { 
    .quote__video iframe{
        width: 880px;
        height: 390px;
    }
}
@media (max-height: 760px) and (min-width:1200px){
    #ytube__with__bg{
        height: 120vh;
    }
}
@media (min-width: 1200px) and (max-width:1400px){
    .scroll-down{
        top: 36rem;
    }
}